<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>name</th>
      <th>marks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>21</td>
      <td>Joe</td>
      <td>90</td>
    </tr>
    <tr>
      <th>1</th>
      <td>22</td>
      <td>Jain</td>
      <td>92</td>
    </tr>
    <tr>
      <th>2</th>
      <td>23</td>
      <td>Chris</td>
      <td>90</td>
    </tr>
    <tr>
      <th>3</th>
      <td>24</td>
      <td>Sai</td>
      <td>95</td>
    </tr>
    <tr>
      <th>4</th>
      <td>25</td>
      <td>Andrew</td>
      <td>100</td>
    </tr>
    <tr>
      <th>5</th>
      <td>26</td>
      <td>Lynn</td>
      <td>90</td>
    </tr>
    <tr>
      <th>6</th>
      <td>27</td>
      <td>Robert</td>
      <td>85</td>
    </tr>
  </tbody>
</table>